/**
 * @atom Button
 * @section Navigation > Buttons
 * @description
 *  Buttons for various purposes.
 * @modifiers
 *  .button--alert an alert button
 * @markup
 *   <button class="button">A button</button>
 *   <button class="button button--alert">
 *      An alert button
 *   </button>
 */
.button {
    line-height: 40px;
    &.button--alert {
        color: white;
        background-color: blue;
    }
}
