/** @color white */
$rainbow-color--white: #ffffff;

/** @color white-transparent */
$rainbow-color--white--transparent: rgba(255, 255, 255, 0.4);

/** @color green */
$rainbow-color--green: #3ecf8e;

/** @color blue */
$rainbow-color--blue : #2196F3;

/** @color lighter-blue */
$rainbow-color--lighter--blue: rgba(33, 150, 243, 0.1);

/** @color red */
$rainbow-color--red: #FF5252;